<%- include("partials/header.ejs")%>
<h1>example Who we   are?</h1>
<h3>we are a   Company and we server orders</h3>
<h3>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint necessitatibus 
    consequatur debitis asperiores. Omnis quos maxime rem neque a repudiandae fugit iusto, vitae quod quas laborum harum cupiditate dolores assumenda alias magnam quia voluptatum tenetur molestias eveniet sit aut possimus? Facere delectus, labore ab consectetur reiciendis distinctio. Sunt est tempore esse eos ducimus labore exercitationem aperiam nulla officiis animi aut error, nihil assumenda dolorum fugit sequi delectus nesciunt quia obcaecati ab repellat accusamus impedit! Sit, illum molestiae adipisci necessitatibus quam repellendus. Blanditiis ea, nesciunt deleniti perspiciatis maxime voluptas
     saepe quod illum est vero deserunt laboriosam cumque facilis ipsum illo officia.
</h3>

<%- include("partials/footer.ejs")%>
