<%- include("partials/header.ejs")%>
<form action="/" method="post">
    <input type="text" placeholder="enter name">
    <input type="text" placeholder="email address">
    <button type="submit" value="submit">Send Details</button>
</form>
<%- include("partials/footer.ejs")%>