<%- include("partials/header.ejs")%>
<h1>Home page</h1>
<h3>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
    Fugit soluta itaque vel provident minus dolor impedit
     architecto velit! Fugit magni iste optio voluptatibus,
      alias quaerat! Nihil ea nobis error voluptates.
Lorem ipsum, dolor sit amet consectetur adipisicing elit
. Nesciunt fuga quisquam molestiae exercitationem
 voluptatem distinctio deleniti minima ipsum vel 
 possimus est, amet magni accusamus voluptas facilis
  neque at laborum corporis placeat tempora. Fugiat corrupti 
  at cum exercitationem non, quo expedita voluptate amet ipsum beatae dolore
   adipisci facilis dolores debitis temporibus saepe aperiam facere laudantium 
   assumenda tempore! Error dignissimos voluptatum consequuntur, minus eaque blanditiis quod 
   quis laborum quisquam, sapiente in explicabo nesciunt praesentium. Nulla, nihil. Dolores,
    ab harum. Veniam iusto blanditiis quia aperiam voluptatem, optio nostrum excepturi 
     culpa nesciunt laboriosam quae. Sed facilis commodi corporis quidem delectus
      nisi odio adipisci.

</h3>

<%- include("partials/footer.ejs")%>